@media screen and (max-width: 420px) {
    .div__infantil {
        width: 100%;
        height: 40vh;

        font-family: 'Montserrat', sans-serif;
        font-size: 2rem;
        color: #ffd500;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .div__infantil__2 {
        border: 2px solid #ffd500;
        padding: 3px;
        border-radius: 10px;
        width: 60%;
        text-align: center;
    }
}