@media screen and (max-width: 420px) {
    .section__Header {
        background-color: black;
        height: 30vh;
        /* border: 1px solid red; */
    }
    
    .header {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-top: 10px;
        
    }
    
    .headers__nav__links {
        width: 9.5rem;
        display: flex;
        justify-content: space-between;
    }

    .links {
        font-size: 20px;
        color: #f2d649;
        text-decoration: none;
        font-family: 'Montserrat', sans-serif;
    }
    
    
    .imgHeader {
        width: 80px;
        height: 80px;
        border-radius: 50%;
    }

    .section__main {
        margin-top: 20px;
        text-align: left;
        padding-left: 80px;
    }

    .section__main__titulo {
        font-family: 'Cinzel Decorative', cursive;
        color: #f2d649;
    }

    .section__main__titulo2 {
        color: #706427;
        padding-left: 130px;
        margin-top: -10px;
    }

}
