@media screen and (max-width: 420px) {
    .header {
        height: 80px;
        background-color: black;

        display: flex;
        justify-content: space-between;
    }

    .imgHeader {
        padding-left: 15px;
        width: 25%;
        box-sizing: border-box;
    }

    .nav__header {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding-right: 15px;

        width: 50%;

        color: #f2d549;
        font-family: 'Montserrat';
    }


    .navbar {
        z-index: 1;
        left: 0;
        display: flex;
        align-items: stretch;
        height: 72px;
        /* background: #3d0cb3; */
        color: #f9f9f9;
        box-shadow: 0 8px 12px rgb(0 0 0 / 20%);
    }

    button,
    .links {
        color: #f2d549;
        border: 0;
        padding: 0;
        display: flex;
        align-items: center;
        gap: 4px;
        height: 80%;
        background: transparent;
        font-size: 16px;
        margin: 0 5px;
        text-decoration: none;


    }

    @media (width >=100px) {
        button {
            font-size: 16px;
            text-decoration: none;
            animation: pulsate 1.5s infinite alternate;
            border: 0.2rem solid #fff;
            border-radius: 2rem;
            padding: 0.4em;
            box-shadow: 0 0 .2rem rgb(64, 64, 64),
                0 0 .2rem rgb(255, 255, 255),
                0 0 2rem #f2d549,
                /* 0 0 0.8rem #bc13fe, */
                /* 0 0 2.8rem #bc13fe, */
                inset 0 0 1.3rem #f2d549;
            margin-right: 25px;
        }
    }

    .links__menu {
        margin: 3px 0 3px;
        font-size: 14px;
        font-weight: 400;
        /* color: rgba(255, 255, 255, 0.3); */
        text-decoration: none;
        height: 25px;
        box-sizing: border-box;
        width: 100%;
        border-bottom: 1px solid #f2d549;

        color: #ffffff;
        text-shadow:
            0 0 7px rgb(195, 195, 195),
            /* 0 0 10px #fff, */
            /* 0 0 21px #fff, */
            0 0 42px #f2d549,
            0 0 82px #f2d549,
            0 0 92px #f2d549,
            0 0 102px #f2d549,
            0 0 151px #f2d549;
    }

    .links__menu:hover {
        color: #f2d549;
    }

    .div__links__menu {
        display: flex;
        flex-direction: column;
        text-align: center;
        box-sizing: border-box;
        padding-top: 10px;
    }

    /* .navbar, .burger, .dropdowns {
        position: fixed; 
        top: 0;
        width: 100%;
    } */

    button>img {
        display: none;
    }

    @media (width >=100px) {
        .dropdown>button {
            padding: 0 10px 0 10px;
            color: #f2d549;
        }

        button>img {
            display: block;
        }
    }

    @media (width >=100px) {
        .dropdown:hover button {
            opacity: 1;
        }
    }

    .dropdowns {
        left: -9999px;
        z-index: 2;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding-left: 50px;
        background: #0d0d0e;
        opacity: 0;
        visibility: hidden;
        transition-property: opacity, visibility;
        transition-duration: 0.3s;
    }

    @media (width < 100px) {
        .dropdowns {
            opacity: 0;
            visibility: visible;
            left: 0;
        }
    }

    @media (width >=100px) {
        .dropdowns {
            position: static;
            flex-direction: row;
            justify-content: flex-start;
            background: transparent;
            opacity: 1;
            visibility: visible;
            padding-left: 0;
        }
    }

    .dropdown {
        position: relative;
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }

    .dropdown-menu button {
        display: block;
        width: 100%;
        color: #f9f9f9;
        opacity: 1;
        height: 40px;
        white-space: nowrap;
    }

    @media (width >=100px) {
        .dropdown {
            height: 100%;
            flex-direction: row;
            align-items: center;
        }

        .dropdown-menu {
            position: absolute;
            top: 72px;
            left: 38%;
            display: flex;
            gap: 32px;
            padding: 6px 24px 10px;
            margin-bottom: 0;
            justify-content: flex-start;
            background: #0d0d0e;
            opacity: 0;
            visibility: hidden;
            translate: 0 24px;
            transition: 0.3s;
            border-radius: 10px;
        }

        .dropdown:hover .dropdown-menu {
            opacity: 1;
            visibility: visible;
            translate: 0 0;
        }

    }
}