@media screen and (max-width: 420px) {
    .section__home {
        margin-top: 10px;
        height: 820px;
        border-radius: 70px;
        background-color: #ffd500;
        padding-top: 15px;
    }

    .section__home__titulo {
        font-family: 'Cinzel Decorative', cursive;
        font-size: 30px;
        font-weight: bolder;
        width: 100%;
        text-align: center;
    }

    .section__home__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .section__home__container__caixa {
        width: 90%;
        height: 150px;
        margin-top: 25px;
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    /* css container casamento */

    .img__eventos {
        width: 90%;
        height: 100%;
        box-sizing: border-box;
        border-radius: 10px;
        box-shadow: 0 4px 10px 0 rgba(0, 17, 246, 0.37);
        
    }

    .link__eventos {
        text-decoration: none;
        width: 38%;
        height: 60%;
        margin-top: -50px;

        display: flex;
        align-items: center;
        justify-content: center;

        font-family: 'Montserrat', sans-serif;
        color: rgb(0, 0, 0);
        text-transform: uppercase;
        font-weight: bolder;
        
        backdrop-filter: blur(4px);
        -webkit-backdrop-filter: blur(13.5px);
        border-radius: 10px;
        border: 2px ridge rgba(255, 255, 255, 0.09);
    }

    .link__eventos:visited {
        color: rgb(246, 246, 64);
    }

    .link__eventos:active {
        color: black;
    }

    /* fim css container casamento */

    .tamanhoDesktop{
        display: none;
    }
}